torch==2.6.0
tensorflow==2.18.0
keras==3.8.0
tf_keras_vis==0.8.7
transformers==4.57.1
trl==0.24.0
peft==0.17.1
datasets==4.3.0
numpy==1.26.4
pandas==2.2.3
opencv-python==4.11.0.86
matplotlib==3.7.2
seaborn==0.12.2
scikit-learn==1.2.2
pillow==11.3.0
tqdm==4.66.4
tf-keras==2.18.0
tornado==6.5.2
evaluate==0.4.6
bitsandbytes==0.48.1
st-click-detector==0.1.3